<div class="container">
  <div class="col-lg-12 section">
    <h1>Welcome Card Holder Manager!</h1>
    <br>
    <h2>Foremen costing information:</h2>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Credit Card Number</th>
        <th>Last Update</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
        <td class="section-paragraph"><a href="/user_transactions_check/<%= user.card_number %>"><%= user["name"] %></td></a>
        <td class="section-paragraph"><%= user["card_number"] %></td>
        <td class="section-paragraph"><%= user["updated_at"].asctime %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <h3>Upload and update your bank information</h3>
    <h4>Drag and Drop soon.</h4>
    <a href='/update' class="btn btn-primary btn-lg active" role="button">This button seeds the DB</a>
  </div>
</div>
    <!-- /container -->